body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #110e0e; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p {
    max-width: 600px; 
    margin-left: 100px;
    margin-right: auto; 
    font-size: 0.95rem; 
}
main, .content-wrapper {
    max-width: 800px;
    margin: 40px auto;
    padding: 50px;
    flex: 1;
}

h1, h2 {
    margin-left: 100px;
    color: #ffffff;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

/* Navigation Bar */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.topnav a:hover {
    background-color: #f0eeee;
    color: black;
}

.topnav a.active {
    background-color: #677e16; /* Highlights */
    color: rgb(227, 227, 227);
}

#delayedImage {
    display: none; /*this is for the javascript timer*/
    width: 300px;         
    height: auto;         
    border-radius: 8px;
    
    /* margins*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px; 
}

.converter-container {
    background: #252525;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: 5px;
}

button {
    background-color: #677e16;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #677e16;
}

/* Staff table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1a1919;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #4b4a4a;
}

th {
    background-color: #333;
    color: #677e16;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    font-size: 0.9rem;
    color: #888;
}